.button{
    display: flex;
    justify-content: center;
    margin-top: 11px;
}
.button> button{
    width: 231px;
    height: 49px;
    font-size: 20px;
    color: aliceblue;
    background-color: dodgerblue;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
}
.button > button:hover {
    background-color: blue;
    color: beige;
}